
// Import variables
@import 'base/variables';

// Global styles (optional)
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: $padding;
}

// Import functions and mixins
@import 'base/functions';
@import 'base/mixins';

// Import reset styles
@import 'base/reset';

// Import components
@import './component/menu';
@import './component/introduction';
@import './component/footer';
@import './component/featured-products';
@import './component/about';