@font-face {
  font-family: 'BajajDjFont';
  src: url('../fonts/SourceSansPro-ExtraLightIt.woff') format('woff');
}

@font-face {
  font-family: 'DJ';
  src: url('../fonts/SourceSansPro-Black.woff') format('woff');
}
