// Color Palette
$black: #000000;
$white: #ffffff;
$gray: #555555;
$dark-brown: #432100;
$orange: #ff8811;
$light-orange: #ffbb77;
$light-yellow: #ffd4a8;
$cream: #ffeddb;
$blue: #0055aa;
$cyan: #00aaaa;
$gold: #aa8d00;

// Fonts
$font-dj: 'DJ';
$font-bajaj: 'BajajDjFont';
